extends layout

block content
  h1 メッセージを保存
  form(action="update" method="POST" enctype="multipart/form-data")
    input(type="text" name="username" placeholder="名前")
    textarea(name="message" placeholder="メッセージ")
    input(type="file" name="image")
    button(type="submit") 送信
