extends layout

block content
  h1 メッセージを保存
  form(action="update" method="POST")
    input(type="text" name="username" placeholder="名前")
    textarea(name="message" placeholder="メッセージ")
    button(type="submit") 送信
